@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/npm/yakuhanjp@3.2.0/dist/css/yakuhanmp.min.css);
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.sp {
    display: none;
}

.pc {
    display: block;
}

@-webkit-keyframes fadeIn {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        opacity: 0;
    }

    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        opacity: 0;
    }

    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1;
    }
}

.sp {
    display: none;
}

.pc {
    display: block;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    outline: 0;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    background: transparent;
    vertical-align: baseline;
    font-size: 100%;
}

ins {
    background-color: rgb(0, 0, 0);
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    cursor: help;
    border-bottom: 1px dotted;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

input,
select {
    vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

html {
    width: 100%;
}

body {
    position: relative;
    background: #816120;
    color: #3a2b26;
    font-weight: 400;
    font-size: 16px;
    font-family: YakuHanJPs, "Noto Sans JP", "游ゴシック", YuGothic, "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    -webkit-text-size-adjust: 100%;
}


/*****************************************/

.wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;
    background: url("../img/bg_ptn.jpg");
    box-sizing: border-box;
    animation: fadeIn 1.5s ease both;
    -webkit-animation: fadeIn 1.5s ease both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wrapper p {
    max-height: 999999px;
}

.sc_fade {
    opacity: 0;
    transform: translate(0, 8px);
    transition: opacity .85s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
    transition: transform 1s cubic-bezier(.215, .61, .355, 1), opacity .85s cubic-bezier(.215, .61, .355, 1);
    transition: transform 1s cubic-bezier(.215, .61, .355, 1), opacity .85s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    -webkit-transition: opacity .85s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
    -o-transition: transform 1s cubic-bezier(.215, .61, .355, 1), opacity .85s cubic-bezier(.215, .61, .355, 1);
}

.sc_fade.active {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity .85s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
    transition: transform 1s cubic-bezier(.215, .61, .355, 1), opacity .85s cubic-bezier(.215, .61, .355, 1);
    transition: transform 1s cubic-bezier(.215, .61, .355, 1), opacity .85s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transition: opacity .85s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
    -o-transition: transform 1s cubic-bezier(.215, .61, .355, 1), opacity .85s cubic-bezier(.215, .61, .355, 1);
}


/*****************************************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1900;
    width: 100%;
}

.header_btn {
    position: fixed;
    top: calc(4vw + 40px);
    right: -1px;
    z-index: 2000;
    width: 10.6vw;
    padding-top: 10.6vw;
}

.header_btn span {
    position: absolute;
    top: 35%;
    right: 0;
    width: 100%;
    height: 2px;
    background: #000;
    transition: all .5s cubic-bezier(.39, .575, .565, 1);
    -webkit-transition: all .5s cubic-bezier(.39, .575, .565, 1);
}

.header_btn span:nth-of-type(2) {
    top: 50%;
}

.header_btn span:nth-of-type(3) {
    top: 65%;
}

.header_btn.active span {
    background: #fff;
}

.header_btn.active span:first-of-type {
    top: 50%;
    transform: rotate(-155deg);
    -webkit-transform: rotate(-155deg);
    -moz-transform: rotate(-155deg);
    -ms-transform: rotate(-155deg);
    -o-transform: rotate(-155deg);
}

.header_btn.active span:nth-of-type(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.header_btn.active span:last-of-type {
    top: 50%;
    transform: rotate(155deg);
    -webkit-transform: rotate(155deg);
    -moz-transform: rotate(155deg);
    -ms-transform: rotate(155deg);
    -o-transform: rotate(155deg);
}

.header_nav_list li {
    position: relative;
    top: 100px;
    font-family: YakuHanJPs, "Fjalla One", "游ゴシック", YuGothic, "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: .06em;
    font-size: large;
}

.header_nav_list li a {
    display: block;
    position: relative;
    z-index: 50;
    color: rgb(0, 0, 0);
    text-decoration: none;
}


/*****************************************/

.main {
    position: relative;
}

.main::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
}

.main_txt {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: relative;
    z-index: 2;
    transform: translateY(-10px);
    transition: all .5s cubic-bezier(.455, .03, .515, .955) .25s;
    transition: all .5s cubic-bezier(.455, .03, .515, .955) .25s;
    transition: all .5s cubic-bezier(.455, .03, .515, .955) .25s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transition: all .5s cubic-bezier(.455, .03, .515, .955) .25s;
}

.main_txt .logo {
    margin: 0 auto;
}

.main.active .main_txt {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.main_chara {
    position: relative;
    z-index: 2;
}


/*****************************************/

.bnr {
    position: relative;
    background-image: url("../img/banner/bnr_bg.gif");
}

.bnr_list {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    transition: all .4s cubic-bezier(.39, .575, .565, 1);
    -webkit-transition: all .4s cubic-bezier(.39, .575, .565, 1);
}

.bnr_list.slick-initialized {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.bnr_list li {
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.bnr_list li a {
    display: block;
    position: relative;
}

.bnr_list li a::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url(../img/banner/bnr_frame.png) center no-repeat;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.bnr_list li a img {
    width: 100%;
    height: auto;
}

.bnr_pager p {
    position: absolute;
    top: calc(50% - 49px);
    width: 50px;
    height: 98px;
    font-size: 0;
    cursor: pointer;
    transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
    -webkit-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
    -moz-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
    -ms-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
    -o-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
}

.bnr_pager p:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: .7;
}

.bnr_pager .next {
    right: 0;
    background: url(../img/banner/arrow_next.png) center right no-repeat;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
}

.bnr_pager .prev {
    left: 0;
    background: url(../img/banner/arrow_prev.png) center right no-repeat;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
}


/*****************************************/

.contents_frame {
    position: relative;
}

.contents_frame::before,
.contents_frame::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
}

.contents_frame::before {
    top: 0;
}

.contents_frame::after {
    bottom: 0;
}

.contents_cap {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #890106;
    letter-spacing: .08em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.contents_cap span {
    display: block;
    position: relative;
    padding-left: 2px;
}

.contents_cap span::before,
.contents_cap span::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5vw;
    height: 4.5vw;
    background: url(../img/contents/deco_cap.png) center no-repeat;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.contents_cap span::before {
    left: -7vw;
}

.contents_cap span::after {
    right: -7vw;
    transform: scale(-1, 1) translateY(-50%);
    -webkit-transform: scale(-1, 1) translateY(-50%);
    -moz-transform: scale(-1, 1) translateY(-50%);
    -ms-transform: scale(-1, 1) translateY(-50%);
    -o-transform: scale(-1, 1) translateY(-50%);
}

.contents_txt {
    font-size: 15px;
    line-height: 1.95;
}

.contents_txt span {
    display: block;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.contents_btn {
    position: relative;
    background: url(../img/contents/btn.png) center no-repeat;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
}

.contents_btn a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 0;
    font-family: YakuHanJPs, "Fjalla One", "游ゴシック", YuGothic, "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: .06em;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.contents_btn_txt {
    padding: 6vw 0;
    color: #fff;
    font-size: 4vw;
    letter-spacing: .06em;
}

.contents .bo_top {
    background: url(../img/contents/line.png) center top repeat-x;
}

.contents.thanks .contents_frame {
    margin-bottom: 200px;
    padding: 35px 105px;
}

.contents.thanks .contents_cap span::before,
.contents.thanks .contents_cap span::after {
    display: none;
}


/*****************************************/

.webradio_movie_wrap {
    width: 100%;
}

.webradio_movie_img {
    position: relative;
    padding-top: 56.25%;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
}

.webradio_movie_img::before {
    content: "";
    display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.webradio_movie_img .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12vw;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.webradio_movie .player {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.webradio_movie iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.webradio_txt {
    font-weight: 700;
    letter-spacing: .07em;
}

.webradio_guest {
    letter-spacing: .06em;
}


/*****************************************/

.corner_list {
    letter-spacing: .06em;
    text-align: left;
}

.corner_list:not(:first-of-type) {
    margin-top: 6vw;
}

.corner_list dt {
    background: url(../img/contents/deco_item.png) left center no-repeat;
    color: #890106;
    font-weight: 700;
}


/*****************************************/

.form_notes {
    color: #890106;
    font-weight: bold;
    text-align: left;
}

.form_item {
    text-align: left;
}

.form_item_cap {
    font-weight: 700;
}

.form_item_cap span {
    color: #890106;
    font-weight: bold;
}

.form_item_data input,
.form_item_data textarea,
.form_item_data select {
    width: 100%;
    background: #fff;
    border: 1px solid #d4d1c8;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.form_item_data textarea {
    line-height: 1.5;
}

.form_item_data label {
    display: inline-block;
    padding: 3.8vw 5vw;
    background: #40322c;
    color: #fff;
    font-weight: 700;
    font-size: 3.4vw;
    letter-spacing: .08em;
}

.form_item_data label span {
    position: relative;
    z-index: 10;
}

.form_item_data label input {
    display: none;
}

.form_item_data .file_name {
    display: inline-block;
    width: 32vw;
    margin-left: 2vw;
    font-size: 10px;
}

.form_item_data .file_name input {
    padding: 5px 0 0;
    background: none;
    border: none;
}

.form_item_cution {
    padding-top: 3vw;
}

.form_item_cution li {
    margin-bottom: .6vw;
    margin-left: 1em;
    font-size: 3.4vw;
    line-height: 1.5;
    letter-spacing: .04em;
    text-indent: -1em;
}

.form_btn input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 0;
    outline: none;
    cursor: pointer;
}


/*****************************************/

.archive_list_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background: url(../img/contents/archive_frame_sp_repeat.png) center repeat-y;
    background-size: 100% auto;
    text-align: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
}

.archive_list_item::before,
.archive_list_item::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
}

.archive_list_item::before {
    top: 0;
}

.archive_list_item::after {
    bottom: 0;
}

.archive_list_item .play {
    background: url(../img/contents/play.png) left center no-repeat;
    background-size: 100% auto;
    font-size: 0;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
}

.archive_list_item .txt .num {
    font-weight: 700;
    letter-spacing: .06em;
}

.archive_list_item .txt .guest {
    letter-spacing: .04em;
}


/*****************************************/

.footer {
    background: #40322c;
    color: #c1ab4e;
}

.footer_share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: YakuHanJPs, "Fjalla One", "游ゴシック", YuGothic, "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: .06em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
}

.footer_share dd {
    position: relative;
}

.footer_share dd a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer_link li {
    position: relative;
    font-family: YakuHanJPs, "Fjalla One", "游ゴシック", YuGothic, "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: .06em;
}

.footer_link li a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer_legal {
    margin-top: 9vw;
    line-height: 1.9;
    letter-spacing: .06em;
}

.footer_copy {
    line-height: 1.9;
    letter-spacing: .06em;
}


/*****************************************/

.modal {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8000;
    width: 100%;
    height: 100%;
    transition: opacity .4s cubic-bezier(.455, .03, .515, .955);
    transition: opacity .4s cubic-bezier(.455, .03, .515, .955);
    transition: opacity .4s cubic-bezier(.455, .03, .515, .955);
    pointer-events: none;
    -webkit-transition: opacity .4s cubic-bezier(.455, .03, .515, .955);
}

.modal.active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1 !important;
    pointer-events: auto;
}

.modal_bg {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    opacity: .85;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
}

.modal_close {
    position: absolute;
    top: calc(50% - 45vw);
    right: 0;
    width: 10.6vw;
    padding-top: 10.6vw;
    cursor: pointer;
}

.modal_close span {
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all .5s cubic-bezier(.39, .575, .565, 1);
    -webkit-transition: all .5s cubic-bezier(.39, .575, .565, 1);
}

.modal_close span:first-of-type {
    top: 50%;
    transform: rotate(-155deg);
    -webkit-transform: rotate(-155deg);
    -moz-transform: rotate(-155deg);
    -ms-transform: rotate(-155deg);
    -o-transform: rotate(-155deg);
}

.modal_close span:nth-of-type(2) {
    top: 50%;
    transform: rotate(155deg);
    -webkit-transform: rotate(155deg);
    -moz-transform: rotate(155deg);
    -ms-transform: rotate(155deg);
    -o-transform: rotate(155deg);
}

.modal_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.modal_item .modal_item_in {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.modal_item .modal_item_in iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*****************************************/

@media only screen and (min-width: 751px) {
    .wrapper {
        min-width: 1200px;
        background-position: center top;
        background-size: 2000px auto;
        -webkit-background-size: 2000px auto;
        -o-background-size: 2000px auto;
    }

    .header {
        top: 75px;
        transform: translateX(-100%);
        width: 140px;
        transition: all .45s ease-out .65s;
        transition: all .45s ease-out .65s;
        transition: all .45s ease-out .65s;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transition: all .45s ease-out .65s;
    }

    .header.active {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .header_nav {
        width: 140px;
    }

    .header_nav_list li {
        width: 100%;
        margin-bottom: 10px;
        font-size: 25px;
        text-align: left;
    }

    .header_nav_list li::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 0;
        height: 100%;

        /*nav收縮方塊顏色*/
        background: #5783bb;
        
        transition: all .35s cubic-bezier(.39, .575, .565, 1);
        -webkit-transition: all .35s cubic-bezier(.39, .575, .565, 1);
        -moz-transition: all .35s cubic-bezier(.39, .575, .565, 1);
        -ms-transition: all .35s cubic-bezier(.39, .575, .565, 1);
        -o-transition: all .35s cubic-bezier(.39, .575, .565, 1);
    }

    .header_nav_list li a {
        padding: 5px 0 4px 30px;

        /*左側導覽欄位文字初始顏色*/
        color: white;
        transition: all .35s cubic-bezier(.39, .575, .565, 1);
        -webkit-transition: all .35s cubic-bezier(.39, .575, .565, 1);
        -moz-transition: all .35s cubic-bezier(.39, .575, .565, 1);
        -ms-transition: all .35s cubic-bezier(.39, .575, .565, 1);
        -o-transition: all .35s cubic-bezier(.39, .575, .565, 1);
    }

    .header_nav_list li:hover::before {
        width: 100%;
    }

    .header_nav_list li:hover a {
        color: #fff;
    }

    .header_nav_list li.current::before {
        width: 100%;
    }

    .header_nav_list li.current a {
        color: #fff;
    }

    .main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 90px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-justify-content: center;
    }

    .main::before {
        top: 0;
        left: 50%;
        width: 650px;
        height: 432px;
        background: url(../img/main/bg_brick_main_pc.png);
    }

    .main_txt .logo {
        width: 490px;
    }

    .main_txt .txt {
        width: 486px;
        margin: 40px auto 0;
    }

    .main_chara {
        margin-left: 50px;
    }

    .bnr {
        min-width: 1200px;
        min-height: 160px;
        padding: 27px 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .bnr_list {
        width: 980px;
        height: 106px;
        margin: 0 auto;
    }

    .bnr_list li {
        width: 320px;
        padding: 0 5px;
    }

    .bnr_list li a {
        padding: 7px;
    }

    .contents section {
        margin-top: 150px;
    }

    .contents_frame {
        width: 1070px;
        margin: 105px auto;
        padding: 15px 105px;
        background: url("../img/contents/cont_frame_pc_repeat.png") repeat-y;
        background-size: 100% auto;
        box-sizing: border-box;
        -webkit-background-size: 100% auto;
        -o-background-size: 100% auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .contents_frame:not(:last-child) {
        margin-bottom: 160px;
    }

    .contents_frame::before,
    .contents_frame::after {
        padding-top: 86px;
    }

    .contents_frame::before {
        top: -86px;
        background: url("../img/contents/cont_frame_pc_head.png") center bottom no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -o-background-size: 100% auto;
    }

    .contents_frame::after {
        bottom: -86px;
        background: url("../img/contents/cont_frame_pc_bottom.png") center top no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -o-background-size: 100% auto;
    }

    .contents_cap {
        margin-bottom: 40px;
        font-size: 20px;
    }

    .contents_cap span {
        margin: 0 10px;
    }

    .contents_cap span::before,
    .contents_cap span::after {
        width: 25px;
        height: 20px;
    }

    .contents_cap span::before {
        left: -30px;
    }

    .contents_cap span::after {
        right: -30px;
    }

    .contents_btn {
        width: 320px;
        margin: 50px auto 0;
        cursor: pointer;
        transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
        -webkit-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
        -moz-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
        -ms-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
        -o-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
    }

    .contents_btn:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        opacity: .7;
    }

    .contents_btn_txt {
        padding: 28px 0;
        font-size: 16px;
    }

    .contents .bo_top {
        margin-top: 50px;
        padding-top: 55px;
    }

    .webradio_movie_wrap {
        margin-bottom: 30px;
    }

    .webradio_movie_img .btn {
        width: 60px;
        transition: all .4s cubic-bezier(.39, .575, .565, 1);
        -webkit-transition: all .4s cubic-bezier(.39, .575, .565, 1);
        -moz-transition: all .4s cubic-bezier(.39, .575, .565, 1);
        -ms-transition: all .4s cubic-bezier(.39, .575, .565, 1);
        -o-transition: all .4s cubic-bezier(.39, .575, .565, 1);
    }

    .webradio_movie_img {
        cursor: pointer;
    }

    .webradio_movie_img::before {
        transition: opacity .4s cubic-bezier(.39, .575, .565, 1);
        -webkit-transition: opacity .4s cubic-bezier(.39, .575, .565, 1);
        -moz-transition: opacity .4s cubic-bezier(.39, .575, .565, 1);
        -ms-transition: opacity .4s cubic-bezier(.39, .575, .565, 1);
        -o-transition: opacity .4s cubic-bezier(.39, .575, .565, 1);
    }

    .webradio_movie_img:hover::before {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        opacity: 0;
    }

    .webradio_movie_img:hover .btn {
        transform: translate(-50%, -50%) scale(1.1);
        -webkit-transform: translate(-50%, -50%) scale(1.1);
        -moz-transform: translate(-50%, -50%) scale(1.1);
        -ms-transform: translate(-50%, -50%) scale(1.1);
        -o-transform: translate(-50%, -50%) scale(1.1);
    }

    .webradio_txt {
        font-size: 16px;
    }

    .webradio_guest {
        margin-top: 10px;
        font-size: 14px;
    }

    .corner_list:not(:first-of-type) {
        margin-top: 35px;
    }

    .corner_list dt {
        padding-left: 20px;
        background-size: 10px auto;
        font-size: 16px;
        -webkit-background-size: 10px auto;
        -o-background-size: 10px auto;
    }

    .corner_list dd {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.75;
    }

    .form_notes {
        margin-bottom: 30px;
        font-size: 14px;
        text-align: center;
    }

    .form_item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-items: center;
    }

    .form_item.file {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }

    .form_item_cap {
        width: 200px;
    }

    .form_item_data {
        width: calc(100% - 200px);
    }

    .form_item_data input,
    .form_item_data textarea,
    .form_item_data select {
        padding: 12px;
        outline: none;
    }

    .form_item_data label {
        padding: 15px 20px;
        font-size: 15px;
        cursor: pointer;
        transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
        -webkit-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
        -moz-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
        -ms-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
        -o-transition: opacity .35s cubic-bezier(.39, .575, .565, 1);
    }

    .form_item_data label:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        opacity: .7;
    }

    .form_item_data .file_name {
        font-size: 13px;
    }

    .form_item_cution {
        margin-left: 200px;
        padding-top: 10px;
    }

    .form_item_cution li {
        margin-bottom: 3px;
        font-size: 12px;
    }

    .archive_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }

    .archive_list_item {
        width: 240px;
        margin-bottom: 30px;
        margin-left: 10px;
        padding: 14px 20px;
    }

    .archive_list_item:nth-of-type(3n+1) {
        margin-left: 0;
    }

    .archive_list_item::before,
    .archive_list_item::after {
        padding-top: 10px;
    }

    .archive_list_item::before {
        top: -10px;
        background: url("../img/contents/archive_frame_pc_head.png") center bottom no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -o-background-size: 100% auto;
    }

    .archive_list_item::after {
        bottom: -10px;
        background: url("../img/contents/archive_frame_pc_bottom.png") center top no-repeat;
        background-size: 100% auto;
        -webkit-background-size: 100% auto;
        -o-background-size: 100% auto;
    }

    .archive_list_item .play {
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }

    .archive_list_item .txt {
        position: relative;
        transition: color .35s cubic-bezier(.39, .575, .565, 1);
        -webkit-transition: color .35s cubic-bezier(.39, .575, .565, 1);
        -moz-transition: color .35s cubic-bezier(.39, .575, .565, 1);
        -ms-transition: color .35s cubic-bezier(.39, .575, .565, 1);
        -o-transition: color .35s cubic-bezier(.39, .575, .565, 1);
    }

    .archive_list_item .txt::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 0;
        height: 4px;
        background: #890106;
        transition: width .35s cubic-bezier(.39, .575, .565, 1);
        -webkit-transition: width .35s cubic-bezier(.39, .575, .565, 1);
        -moz-transition: width .35s cubic-bezier(.39, .575, .565, 1);
        -ms-transition: width .35s cubic-bezier(.39, .575, .565, 1);
        -o-transition: width .35s cubic-bezier(.39, .575, .565, 1);
    }

    .archive_list_item .txt .num {
        font-size: 16px;
    }

    .archive_list_item .txt .guest {
        margin-top: 6px;
        font-size: 12px;
    }

    .archive_list_item {
        cursor: pointer;
    }

    .archive_list_item:hover .txt {
        color: #890106;
    }

    .archive_list_item:hover .txt::after {
        width: 100%;
    }

    .footer {
        padding: 50px 0;
        font-size: 11px;
    }

    .footer_inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 40px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-items: center;
        -webkit-justify-content: space-between;
    }

    .footer_l {
        text-align: left;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-order: 1;
        -ms-order: 1;
    }

    .footer_share {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -webkit-justify-content: flex-end;
        -webkit-order: 2;
        -ms-order: 2;
    }

    .footer_share dt {
        font-size: 15px;
    }

    .footer_share dd {
        transform: translateY(0);
        width: 30px;
        margin-left: 25px;
        cursor: pointer;
        transition: all .25s cubic-bezier(.39, .575, .565, 1);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transition: all .25s cubic-bezier(.39, .575, .565, 1);
        -moz-transition: all .25s cubic-bezier(.39, .575, .565, 1);
        -ms-transition: all .25s cubic-bezier(.39, .575, .565, 1);
        -o-transition: all .25s cubic-bezier(.39, .575, .565, 1);
    }

    .footer_share dd:hover {
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
    }

    .footer_link li {
        margin-right: 20px;
        font-size: 15px;
    }

    .footer_link li a {
        padding-bottom: 5px;
    }

    .footer_link li a::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #c1ab4e;
        transition: width .5s cubic-bezier(.39, .575, .565, 1);
        -webkit-transition: width .5s cubic-bezier(.39, .575, .565, 1);
    }

    .footer_link li a:hover::after {
        width: 100%;
    }

    .footer_legal {
        margin-top: 28px;
    }

    .modal_close {
        top: calc(50% - 300px);
        right: calc(50% - 400px);
        width: 60px;
        padding-top: 60px;
    }

    .modal_close:hover span {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }

    .modal_item {
        width: 800px;
    }
}