@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --accent-color: #77CD0A;
}

.pc-only {
    display: block;
}

.sp-only {
    display: none;
}

a:link,
a:hover,
a:visited {
    color: #00AAFF
}

body {
    font-family: Roboto;
    background-color: #000;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
    padding: 0 40px;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    z-index: 2;
}

.main-content-subject-footer-ui-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin-top: 64px;
}

.main-visual {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: -1;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.main-visual img {
    width: 1440px;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: 80%;
    width: 100%;
    transition: all 0.5s;
}

.main-visual img.main-visual-color {
    display: block;
    /*以區塊的方式顯示*/
}

/*改背景 begin/////////////////////////////////////////////////*/

img.main-visual-profile {
    display: block;
    margin-top: calc(-100vh);
    opacity: 0.0;
}

.main-visual.profile img.main-visual-profile {
    opacity: 1.0;
}

.main-visual img.main-visual-gallery {
    display: block;
    margin-top: calc(-100vh);
    opacity: 0.0;
}

.main-visual.gallery img.main-visual-gallery {
    opacity: 1.0;
}

.main-visual img.main-visual-product {
    display: block;
    margin-top: calc(-100vh);
    opacity: 0.0;
}

.main-visual.product img.main-visual-product {
    opacity: 1.0;
}

/*改背景 end/////////////////////////////////////////////////*/

.main-visual::after {
    content: '';
    z-index: 2;
    width: 100%;
    height: 450px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transform: rotate(-180deg);
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin: auto;
}

.main-content-visual {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.main-content-visual-title-logo {
    height: 46px;
    display: flex;
}

.main-content-visual-title-logo img {
    height: 100%;
}

.main-content-visual-title-logo a {
    display: contents;
}

.main-content-visual-presented-by {
    margin-top: 32px;
}

.main-content-visual-logo {
    width: 479px;
    position: absolute;
    bottom: 190px;
}

.main-content-visual-logo img {
    width: 100%;
}

.main-content-visual-description {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    position: absolute;
    bottom: 100px;
    width: 800px;
}

.main-content-subject h2 {
    font-family: '思源宋體 TW';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 100%;
    color: var(--accent-color);
    color: white;
}

#gallery_text_box{
    position:sticky;
    width: 300px;
    height: 600px;
    bottom:750px;
    background:black;
    margin-left:830px;
    /* opacity: 0.5; */
    
}

#gallery_text_box h3{
    font-family: '思源宋體 TW';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: var(--accent-color);
    color: white;
    opacity: 1;
}

.main-content-subject h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 40px;
}

.main-content-subject h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 24px;
}

.main-content-subject p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 16px;
}